---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Hero from '@/components/Hero.astro'
import RootLayout from '@/layouts/Layout.astro'
import HeaderContainer from '@/components/HeaderContainer'
import Projects from '@/components/Projects.astro'
---

<RootLayout>
  <HeaderContainer client:only='react'>
    <Header />
  </HeaderContainer>
  <Hero />
  <Projects />
  <Footer />
  <div class='fixed top-0 left-0 -z-1 h-screen w-full bg-linear-60 from-fuchsia-200 to-indigo-300 dark:from-fuchsia-950 dark:to-indigo-950'></div>
</RootLayout>
