---
import Github from './icons/github.astro'
import Linkedin from './icons/linkedin.astro'
import Logo from './icons/EquirizonLogo.astro'
import Soundcloud from './icons/soundcloud.astro'
---

<div class='flex flex-row items-center gap-4 rounded-2xl w-3xs'>
  <Logo size={32}/>
  <h1 class='font-bold text-lg'>Brandon | Equirizon</h1>
</div>
<nav id='navbar' class='flex flex-row gap-10'>
  <a href='#hero' class='nav-link' id='about'>About</a>
  <a href='#projects' class='nav-link' id='portfolio'>Projects</a>
  <a href='#footer' class='nav-link' id='hobbies'>Hobbies</a>
  <a href='#footer' class='nav-link' id='contacts'>Contact</a>
</nav>
<div class='flex flex-row justify-end items-center gap-8 w-60'>
  <a href='https://github.com/Equirizon' target='_blank' rel='noopener noreferrer'><Github /></a>
  <a href='https://linkedin.com/in/donbustria/' target='_blank' rel='noopener noreferrer'><Linkedin /></a>
  <a href='https://soundcloud.com/equirizon' target='_blank' rel='noopener noreferrer'><Soundcloud /></a>
</div>
