---
import Github from './icons/github.astro'
import Linkedin from './icons/linkedin.astro'
import Logo from '@assets/svg/logo.svg'
import Soundcloud from './icons/soundcloud.astro'
import DropdownMenu from './DropdownMenu'
import { ThemeToggle } from './ThemeToggle'
---

<div class='flex w-max pe-12 flex-row items-center gap-4'>
  <a href='#hero' class='transition-all hover:scale-105 duration-200'>
    <Logo class='size-10 md:size-9' />
  </a>
  <h1 class='hidden text-lg font-bold lg:inline'>Equirizon</h1>
</div>
<h1 class='font-bold md:inline lg:hidden'>Brandon | Equirizon</h1>
<nav id='navbar' class='hidden flex-row gap-10 lg:flex'>
  <a href='#about' class='hover:text-accent-foreground transition-all'>About</a>
  <a href='#projects' class='hover:text-accent-foreground transition-all'>Projects</a>
  <a href='#footer' class='hover:text-accent-foreground transition-all'>Hobbies</a>
  <a href='#footer' class='hover:text-accent-foreground transition-all'>Contact</a>
</nav>
<div class='hidden flex-row items-center justify-end gap-8 lg:flex'>
  <a
    href='https://github.com/Equirizon'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:bg-accent/30 hover:text-accent-foreground transition-all'><Github /></a
  >
  <a
    href='https://linkedin.com/in/donbustria/'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:bg-accent/30 hover:text-accent-foreground transition-all'><Linkedin /></a
  >
  <a
    href='https://soundcloud.com/equirizon'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:bg-accent/30 hover:text-accent-foreground transition-all'><Soundcloud /></a
  >
  <ThemeToggle client:load />
</div>
<DropdownMenu client:load />
