---
import Github from './icons/github.astro'
import Linkedin from './icons/linkedin.astro'
import Logo from '@assets/svg/logo.svg'
import Soundcloud from './icons/soundcloud.astro'
import DropdownMenu from './DropdownMenu'
---

<div class='flex w-max flex-row items-center gap-4'>
  <Logo class='size-10 md:size-9' />
  <h1 class='hidden text-lg font-bold lg:inline'>Brandon | Equirizon</h1>
</div>
<h1 class='text-md font-bold md:inline lg:hidden'>Brandon | Equirizon</h1>
<nav id='navbar' class='hidden flex-row gap-10 lg:flex'>
  <a href='#hero' class='nav-link' id='about'>About</a>
  <a href='#projects' class='nav-link' id='portfolio'>Projects</a>
  <a href='#footer' class='nav-link' id='hobbies'>Hobbies</a>
  <a href='#footer' class='nav-link' id='contacts'>Contact</a>
</nav>
<div class='hidden flex-row items-center justify-between gap-8 lg:flex'>
  <a href='https://github.com/Equirizon' target='_blank' rel='noopener noreferrer'><Github /></a>
  <a href='https://linkedin.com/in/donbustria/' target='_blank' rel='noopener noreferrer'><Linkedin /></a>
  <a href='https://soundcloud.com/equirizon' target='_blank' rel='noopener noreferrer'><Soundcloud /></a>
</div>
<DropdownMenu client:only='react' />
