---
import Github from './icons/github.astro'
import Linkedin from './icons/linkedin.astro'
import Soundcloud from './icons/soundcloud.astro'
import DropdownMenu from './DropdownMenu'
import Instagram from './icons/instagram.astro'
import { ThemeToggle } from './ThemeToggle'
---

<div class='flex w-max flex-row items-center gap-4'>
  <a href='#hero' class='transition-all duration-200 hover:scale-105'>
    <img
      class='absolute size-10 transition-all delay-200 duration-600 ease-in-out md:size-9 dark:opacity-0'
      src='src/assets/SVG/logo-light.svg'
    />
    <img
      class='size-10 opacity-0 transition-all delay-200 duration-600 ease-in-out md:size-9 dark:opacity-100'
      src='src/assets/SVG/logo-dark.svg'
    />
  </a>
  <h1 class='hidden text-lg font-bold lg:inline'>Equirizon</h1>
</div>
<h1 class='font-bold md:inline lg:hidden'>Brandon | Equirizon</h1>
<nav id='navbar' class='absolute left-1/2 hidden -translate-x-1/2 flex-row gap-10 *:transition-all lg:flex'>
  <a href='#about' class='hover:text-accent-foreground'>About</a>
  <a href='#projects' class='hover:text-accent-foreground'>Projects</a>
  <a href='#footer' class='hover:text-accent-foreground'>Hobbies</a>
  <a href='#footer' class='hover:text-accent-foreground'>Contact</a>
</nav>
<div class='hidden flex-row items-center justify-end gap-8 lg:flex'>
  <a
    href='https://github.com/Equirizon'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:text-accent-foreground transition-all'><Github /></a
  >
  <a
    href='https://linkedin.com/in/donbustria/'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:text-accent-foreground transition-all'><Linkedin /></a
  >
  <a
    href='https://soundcloud.com/equirizon'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:text-accent-foreground transition-all'><Soundcloud /></a
  >
  <a
    href='https://www.instagram.com/equirizon/'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:text-accent-foreground transition-all'><Instagram /></a
  >
  <ThemeToggle client:load />
</div>
<DropdownMenu client:load />
