---
import HeroImage from './ui/HeroImage.tsx'
---

<section id='hero' class='flex h-screen min-h-[45rem] w-full flex-col items-center justify-center gap-10 lg:pt-12'>
  <div class='mx-auto flex w-[min(85vw,70rem)] flex-col-reverse items-center justify-between xl:flex-row'>
    <div class='flex flex-col gap-1'>
      <h4 class='text-muted-foreground font-bold'>Welcome to my Personal Portfolio</h4>
      <h1 class='text-accent-foreground max-w-lg bg-clip-text text-3xl font-bold text-shadow-lg lg:text-5xl'>
        Hello, my name's <span
          class='to-theme-color-primary from-theme-color-secondary bg-linear-45 bg-clip-text font-extrabold text-transparent text-shadow-lg'
          >Brandon</span
        >
      </h1>
      <h4 class='text-muted-foreground mt-4 divide-x-2 font-medium *:border-gray-400 *:px-2'>
        I'm a<span class='text-typescript'>Front-end Developer</span><span class='text-soundcloud'>Music Producer</span
        ><span class='text-graphics'>Graphic Designer</span>
      </h4>
    </div>
    <HeroImage client:load />
  </div>
  <div
    class='absolute top-0 left-0 -z-1 h-screen w-full bg-linear-60 from-fuchsia-100/70 to-sky-100/70 dark:from-fuchsia-950/70 dark:to-indigo-950/70'>
  </div>
</section>
