---
import { Picture } from 'astro:assets'
import InteractiveFeatureCard from './ui/InteractiveFeatureCard'
import Me from '@/images/me.jpg'
import CoverArt from '@/images/cover-art.png'
import WallpaperMobile from '@/images/wallpaper-mobile.png'
import Icon from '@/images/icon.png'
---

<section id='passions' class='relative flex h-min min-h-[75rem] w-full flex-col items-center justify-start'>
  <div id='passions-header'>
    <h2 class='mb-28 text-3xl font-extrabold'>My Hobbies</h2>
  </div>
  <div class='grid w-[min(75rem,95vw)] grid-cols-1 gap-4 bg-pink-100 p-4 md:grid-cols-2'>
    <InteractiveFeatureCard layoutIdPrefix='CoverArt' client:load>
      <Picture src={CoverArt} alt='Cover Art' width={1000} loading='lazy' decoding='async' />
    </InteractiveFeatureCard>
    <InteractiveFeatureCard layoutIdPrefix='Icon' client:load>
      <Picture src={Icon} alt='Icon' width={1000} loading='lazy' decoding='async' />
    </InteractiveFeatureCard>
    <InteractiveFeatureCard layoutIdPrefix='WallpaperMobile' client:load>
      <Picture src={WallpaperMobile} alt='Wallpaper Mobile' width={1000} loading='lazy' decoding='async' />
    </InteractiveFeatureCard>
    <InteractiveFeatureCard layoutIdPrefix='Me' client:load>
      <Picture src={Me} alt='Me' width={1000} loading='lazy' decoding='async' />
    </InteractiveFeatureCard>
  </div>
</section>
