<section id='portfolio' class='h-screen flex flex-col items-center justify-evenly'>
  <div id='projects-header'>
    <h2>Here are My Projects</h2>
  </div>
  <div>
    <div class='project-tile'>
      <div class='bottom-link-div'>
        <div class='bottom-link'>
          <a href='https://barangay-system-website.vercel.app'>Barangay Management System App</a>
        </div>
      </div>
    </div>
    <div class='project-tile'>
      <div class='bottom-link-div'>
        <div class='bottom-link'><a href='https://codepen.io/equirizon/pen/vYZXyjv'></a></div>
      </div>
    </div>
  </div>
</section>
