---
import CardIOS from '@ui/ios-card'
---

<section id='projects' class='relative flex h-min min-h-[75rem] w-full flex-col items-center justify-evenly'>
  <div id='projects-header'>
    <h2 class='text-3xl font-extrabold'>My Projects</h2>
  </div>
  <CardIOS orientation='portrait' client:load />
</section>
