---
import ProjectsCarousel from './ProjectsCarousel'
---

<section id='projects' class='relative flex h-min min-h-[70rem] w-full flex-col items-center justify-center gap-6'>
  <div id='projects-header'>
    <h2 class='text-4xl font-bold'>My Projects</h2>
  </div>
  <ProjectsCarousel client:only='react' />
  <div
    class='absolute top-0 left-0 -z-1 h-screen min-h-[70rem] w-full bg-linear-60 from-fuchsia-950/70 to-indigo-950/70 to-65% opacity-0 shadow-lg transition-all dark:opacity-100'>
  </div>
  <div
    class='absolute top-0 left-0 -z-1 h-screen min-h-[70rem] w-full bg-linear-60 from-fuchsia-300/70 to-sky-300/70 to-65% shadow-lg transition-all dark:opacity-0'>
  </div>
</section>
