---
import InteractiveFeatureCard from '@/components/ui/InteractiveFeatureCard'
import Art from '@/images/me.jpg'
import Picture from 'astro/components/Picture.astro'
---

<section id='projects' class='relative flex h-min min-h-[75rem] w-full flex-col items-center justify-start'>
  <div id='projects-header'>
    <h2 class='text-3xl font-extrabold'>My Projects</h2>
  </div>

</section>
