---
import ProjectsCarousel from './ProjectsCarousel'
---

<section id='projects' class='relative flex h-min min-h-[55rem] w-full flex-col items-center justify-center gap-12'>
  <div id='projects-header'>
    <h2 class='text-4xl font-bold'>My Projects</h2>
  </div>
  <ProjectsCarousel client:only='react' />
</section>
