---
import CardIOS from '@ui/ios-card'
import Art from '@/images/cover-art.png'
import Picture from 'astro/components/Picture.astro'
---

<section id='projects' class='relative flex h-min min-h-[75rem] w-full flex-col items-center justify-evenly'>
  <div id='projects-header'>
    <h2 class='text-3xl font-extrabold'>My Projects</h2>
  </div>
  <CardIOS client:load>
    <Picture src={Art} alt='Equirizon' width={1000} />
  </CardIOS>
</section>
