---
export const prerender = false
import Contact from '@/components/Admin/Contact'
import Projects from '@/components/Admin/Projects'
import AdminLayout from '@/layouts/AdminLayout.astro'
import VersionTag from '@ui/VersionTag.astro'
const time = new Date().toLocaleTimeString()
const date = new Date().toLocaleDateString()
---

<AdminLayout>
  <main class='flex min-h-screen w-screen flex-col items-center justify-center pb-6'>
    <h1 class='p-4 text-3xl font-bold'>Project: Equirizon Dashboard</h1>
    <p class='p-4'>Welcome Brandon. Today is {date} and the current time is {time}.</p>
    <div class='flex flex-row gap-2'><p><b>Current version:</b></p><VersionTag class='m-4' /></div>
    <Contact client:only='react' />
    <Projects client:only='react' />
  </main>
</AdminLayout>
