---
import projectPackage from '@package'
import { APP_MODE } from 'astro:env/client'
// import { Button } from './button'
const appVersion = projectPackage.version
---

<style>
  .appVersion {
    background-color: white;
    color: $color-secondary;
    padding: $padding-xsm $padding-sm;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }
</style>

<div class="flex flex-row items-center justify-center gap-3">
  <span class='text-xs font-bold'>v{appVersion}</span>{
    APP_MODE === 'development' ? (
      <span class='bg-graphics text-accent rounded-md px-2 py-1 text-xs font-bold'>local development</span>
    ) : APP_MODE === 'preview' ? (
      <span class='bg-soundcloud text-accent rounded-md px-2 py-1 text-xs font-bold'>dev preview</span>
    ) : (
      /*     <Button variant='link' size='sm'>
        <a href='https://github.com/equirizon/equirizon' class='bg-typescript text-accent rounded-md px-2 py-1 text-xs font-bold'>production</a>
      </Button> */
      ''
    )
  }
</div>
